In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline

In [35]:
gdp_df = pd.read_csv('../data/gdp_per_capita.csv')
# df = pd.read_csv(filename, skipfooter=2, engine='python')

In [52]:
gdp_df.head(10)

       Country  Year  GDP_Per_Capita
0  Afghanistan  2018     1734.723214
1  Afghanistan  2017     1758.465636
2  Afghanistan  2016     1757.023490
3  Afghanistan  2015     1766.593077
4  Afghanistan  2014     1795.735834
5  Afghanistan  2013     1807.762344
6  Afghanistan  2012     1772.764974
7  Afghanistan  2011     1626.764793
8  Afghanistan  2010     1671.581238
9  Afghanistan  2009     1502.354073

In [51]:
gdp_df.tail(5)

       Country  Year  GDP_Per_Capita
6724  Zimbabwe  1994     2768.309953
6725  Zimbabwe  1993     2572.870395
6726  Zimbabwe  1992     2591.007534
6727  Zimbabwe  1991     2906.272849
6728  Zimbabwe  1990     2819.549467

In [38]:
gdp_df = gdp_df[:-2]

In [50]:
gdp_df.columns = ["Country", "Year", "GDP_Per_Capita"]

In [25]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6729 entries, 0 to 6728
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6729 non-null   object
 1   Year             6729 non-null   object
 2   Value            6729 non-null   float64
dtypes: float64(1), object(2)
memory usage: 157.8+ KB

In [46]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6729 entries, 0 to 6728
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6729 non-null   object
 1   Year             6729 non-null   int32
 2   Value            6729 non-null   float64
dtypes: float64(1), int32(1), object(1)
memory usage: 131.6+ KB

In [45]:
gdp_df.Year = gdp_df.Year.astype(int)

In [47]:
gdp_df['Year'].value_counts().sort_index()

1990    210
1991    211
1992    213
1993    215
1994    218
1995    224
1996    224
1997    226
1998    227
1999    228
2000    236
2001    237
2002    238
2003    238
2004    238
2005    238
2006    238
2007    239
2008    240
2009    241
2010    241
2011    243
2012    241
2013    241
2014    240
2015    240
2016    239
2017    239
2018    226
Name: Year, dtype: int64

In [53]:
gdp_df.groupby('Country')['Year'].nunique()

Country
Afghanistan            17
Albania                29
Algeria                29
Angola                 29
Antigua and Barbuda    29
                       ..
West Bank and Gaza     25
World                  29
Yemen                  29
Zambia                 29
Zimbabwe               29
Name: Year, Length: 243, dtype: int64